@import url(../css/reset.css);
.business-service__trust__info__title, .business-service__title, .advices__title, .features__card__title, .features__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.01em;
  color: #252b42;
  text-align: center;
}

.business-service__trust__info__list__unit__info__subtitle, .advices__card__subtitle, .features__card__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #737373;
}

.business-service__trust__info__text, .business-service__text, .advices__card__text, .advices__text, .features__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  color: #737373;
}

body {
  min-width: 320px;
}

.features {
  background-color: #A784C2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
}

.features__container {
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__text {
  text-align: center;
  margin: 10px 0 50px;
  max-width: 511px;
}

.features__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 1050px;
}

.features__card {
  width: 238px;
  height: 209px;
  padding: 30px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.features__card__subtitle {
  text-align: center;
}

.advices {
  background-color: #C7BEBE;
  padding: 125px 40px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advices__container {
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.advices__text {
  text-align: center;
  max-width: 470px;
  margin: 10px 0 45px;
}

.advices__cards {
  max-width: 1050px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.advices__card {
  width: 230px;
}

.advices__card__info {
  background-color: white;
  padding: 30px;
  height: 200px;
}

.advices__card__subtitle {
  margin-bottom: 15px;
  color: #252b42;
}

.business-service {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 195px;
}

.business-service__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: 1050px;
}

.business-service__title {
  max-width: 480px;
}

.business-service__text {
  text-align: center;
  margin: 15px 0 100px;
  max-width: 511px;
}

.business-service__trust {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.business-service__trust__info {
  width: 330px;
}

.business-service__trust__info__title {
  text-align: start;
}

.business-service__trust__info__text {
  margin: 10px 0 50px;
}

.business-service__trust__info__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.business-service__trust__info__list__unit {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.business-service__trust__info__list__unit__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 5px;
}

.business-service__trust__info__list__unit__info__subtitle {
  color: #252b42;
}

.business-service__trust__info__list__unit__info__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  color: #737373;
}

.business-service__trust__video {
  max-width: 600px;
}

@media screen and (min-width: 570px) and (max-width: 1130px) {
  .features__cards, .advices__cards {
    max-width: 570px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .business-service__trust {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .business-service__trust .business-service__trust__info__title {
    text-align: center;
  }
  .business-service__trust .business-service__trust__info__text {
    text-align: center;
  }
}
@media screen and (max-width: 570px) {
  .features__cards, .advices__cards {
    max-width: 320px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .business-service__trust {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .business-service__trust .business-service__trust__video img {
    width: 330px;
    height: 440px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .business-service__trust .business-service__trust__info__title {
    text-align: center;
  }
  .business-service__trust .business-service__trust__info__text {
    text-align: center;
  }
}